@model Casgem_Api_Consume.Dtos.CategoryDtos.CreateResultCategory
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Kategori Sayfası</h1>

<form action="method">
    <label> Kategori Adı </label>
    <input type="text" class="form-control border" asp-for="categoryName"/>
    <br />
    <button class="btn bs-tooltip-start">Kaydet</button>


</form>
